# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/theme/dist
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/app/themes/app/dist
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Node
node_modules
.vite

# Editor
.idea
.vscode

# Users
/config/users

# WP-CLI
wp-cli.local.yml

# ACF
auth.json
