COMPANY_NAME='{{ company_name }}'
SPACE_NAME='{{ space_name }}'
DB_NAME='{{ database_name }}'
DB_USER='{{ database_user }}'
DB_PASSWORD='{{ database_password | raw }}'
DB_HOST='{{ database_host }}'
DB_PREFIX='{{ database_prefix }}'

# WP Settings
WP_ENV='local'
WP_HOME='{{ wp_home }}'
WP_SITEURL="${WP_HOME}/wp"
WP_POST_REVISIONS=0
DISABLE_WP_CRON=true
# End WP Settings

DOMAIN_CURRENT_SITE='{{ domain_current_site }}'

WP_DEBUG_LOG='/logs/{{ space_name }}.log'
WP_POST_REVISIONS=0

SMTP_HOST=localhost;
SMTP_PORT=1025

AUTH_KEY='{{auth_key | raw}}'
SECURE_AUTH_KEY='{{secure_auth_key | raw}}'
LOGGED_IN_KEY='{{logged_in_key | raw}}'
NONCE_KEY='{{nonce_key | raw}}'
AUTH_SALT='{{auth_salt | raw}}'
SECURE_AUTH_SALT='{{secure_auth_salt | raw}}'
LOGGED_IN_SALT='{{logged_in_salt | raw}}'
NONCE_SALT='{{nonce_salt | raw}}'

CHILD_SITE='true'
ADMIN_EMAIL='{{ admin_email }}'
SPACE_PATH='{{ space_path }}'

APP_COMPANY='{{ app_company }}'
APP_MAIN_SITE='{{ app_main_site }}'

SENDGRID_API_KEY='{{ app_sendgrid_api_key }}'
SENDGRID_API_URL='{{ app_sendgrid_api_url }}'
EMAIL_FROM='{{ app_email_from }}'
EMIL_FROM_NAME='{{ app_email_from_name }}'
