@use "../helpers/media-queries";
@use "../helpers/variables";

.footer {
    & {
        padding: 1rem 0;
        background-color: variables.$primary;
        background-image: url(./images/footer-bg.png);
        background-position: top right;

        @include media-queries.for-tablet-up {
            background-size: cover;
            background-position: center;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__logo {
            width: 12rem;
            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    &_copy_and_menu {
        display: flex;
        flex-direction: column;
        align-items: start;

        @include media-queries.for-tablet-up {
            align-items: center;
            flex-direction: row;
        }
    }

    &__copyright {
        font-weight: 100;
    }

    &__social_networks {
        display: flex;
        gap: 1rem;
        padding: 0 1rem 1rem;

        img {
            width: 1.875rem;
            height: auto;
        }

        @include media-queries.for-tablet-up {
            padding: 0;
        }
    }
}
