@use "../helpers/media-queries";
@use "../helpers/mixins";
@use "../helpers/variables";

.header-menu {
  @include mixins.list-reset;
  & {
    list-style-type: none;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    position: fixed;
    background-color: white;
    top: 6rem;
    bottom: 0;
    flex-direction: column;
    left: 0;
    right: 0;
    z-index: 1;

    @include media-queries.for-tablet-up {
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: static;
    }
  }

  &__item {
    transition-duration: 0.5s;
    font-size: 1rem;
    border-bottom: 2px solid variables.$tertiary;

    &:first-of-type {
      border-top: 2px solid variables.$tertiary;
      @include media-queries.for-tablet-up {
        border:0;
      }
    }

    @include media-queries.for-tablet-up {
      border:0;
    }

    > a {
      padding: 1rem 1rem 1rem 0;
      @include media-queries.for-tablet-up {
        padding: .5rem;
      }
    }

    &--parent {
      > a:after {
        content: url(data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.84736%206.83813C5.6555%207.05395%205.34449%207.05395%205.15262%206.83813L0.143891%201.2039C-0.0479635%200.988082%20-0.0479635%200.638231%200.143891%200.422411L0.375487%200.161865C0.567341%20-0.053955%200.878399%20-0.053955%201.07026%200.161865L5.49999%205.14481L9.92975%200.161865C10.1216%20-0.053955%2010.4326%20-0.053955%2010.6245%200.161865L10.8561%200.422411C11.048%200.638231%2011.048%200.988082%2010.8561%201.2039L5.84736%206.83813Z%22%20fill%3D%22%23134740%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fsvg%3E);
        fill: variables.$primary;
        color: variables.$primary;
        margin-left: 0.625rem;
      }

      &:hover {
        cursor:pointer;
      }

      &:hover > .sub-menu,
      & > .sub-menu:hover {
        @include media-queries.for-tablet-up {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    color: variables.$primary;
  }

  .sub-menu {
    display: none;
    > li {
      border: 0;
      a {
        padding-left: 1rem;
      }
    }

    &.open {
      display: block;
    }

    @include media-queries.for-tablet-up {
      visibility: hidden;
      opacity: 0;
      padding: .5rem 0;
      background-color: variables.$white;
      width: 100%;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      display: none;

      > li:hover {
        background-color: variables.$grey-10;
      }
    }
  }
}
