<div class="video-container">
    <video src="{{ url }}" poster="{{ poster }}" class="video">
        Your browser does not support the video tag.
    </video>
    <div class="controls">
        <svg class="play" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4D4D4D">
            <path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/>
        </svg>
    </div>
</div>
{# arguments playsinline autoplay muted loop #}