@use "../helpers/variables";
@use "../helpers/media-queries";

.content {
	background-color: variables.$white;
	margin-top: 1.5rem;
	margin-right: 1.5rem;
	height: 100vh;
	border-radius: calc(2 * #{variables.$border-radius-md});

	@include media-queries.for-laptop-down {
		margin: 1.5rem auto;
		max-width: 95vw;
	}

	main {
		height: 100%;
		overflow-y: auto;
		padding: 1rem 2rem 5rem 2rem;
	}
}
