<div class="logo">
    {% if link %}<a href="{{ link }}">{% endif %}
        <img src="" data-src="{{ options.logo.sizes.medium }}" alt="{{ options.logo.alt }}" class="lazy"/>
    {% if link %}</a>{% endif %}
</div>