@use "../helpers/variables";

.faq{

	padding: 3.125rem 0;

	&__content {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	&__description {
		flex-wrap: pretty;
		padding: 0 3.125rem;

		p{
			width: 60%;
			margin: 0 auto;
		}
	}

	&__accordion{
		padding: 3.125rem 0;

		summary {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0;
		}


		summary::after {
			content: '';
			width: 18px;
			height: 10px;
			background: url(./images/arrow.svg) no-repeat;
			background-size: cover;
			transition: 0.2s;
		}

		details[open] > summary::after {
			transform: rotate(180deg);
		}

		summary::-webkit-details-marker {
			display: none;
		}

		summary {
			color: variables.$primary;
			font-size: 24px;
			line-height: 28.8px;
			font-weight: 500;
		}

		details{
			text-align: left;
		}
	}

	&__title {
		padding: 0 3.125rem;
	}

	&__accordion-border{
		border-bottom: variables.$tertiary solid 1px;
		padding: 1rem 0;
	}

	&__accordion-border:first-child{
		border-top: variables.$tertiary solid 2px;
	}


	&__secondary_description{
		padding-bottom: 1rem;
	}


	&__link{
		background: transparent;
		color: variables.$primary;
	}
}
