@use "../helpers/media-queries";
@use "../helpers/variables";

.hero {
  --hero-background-image: none;
  --hero-background-color: var(--color-primary);
  --hero-heading-color: var(--color-white);
  --hero-description-color: var(--color-white);

  background-image: var(--hero-background-image);
  background-color: var(--hero-background-color, variables.$primary);
  color: var(--hero-heading-color, variables.$white);
  min-height: 21.5rem;
  padding: 21.5rem 0 3rem;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 48rem;

  @include media-queries.for-tablet-up {
    min-height: 18.75rem;
    padding-top: 3rem;
    background-size: cover;
  }

  &__content {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @include media-queries.for-tablet-up {
      width: 50%;
    }
  }

  &__heading {
    font-family: variables.$heading-font;
    color: var(--hero-heading-color, variables.$white);
  }

  &__description {
    flex-wrap: pretty;
    color: var(--hero-description-color, variables.$white);
  }

  &__calls_to_action {
    display: flex;
    flex-wrap: wrap;
  }
}