@use "../helpers/media-queries";
@use "../helpers/variables";

.multi-column-cta{
	padding: 4rem 0;
	background-color: variables.$primary;
	color: variables.$white;

		.container{
			display: flex;
			flex-direction: column;

			@include media-queries.for-tablet-up {
				flex-direction: row;
			}
		}

		&__content {
			display: flex;
			gap: 1rem;
			flex-direction: column;

			@include media-queries.for-tablet-up {
				width: 50%;
				padding-right: 4rem;
			}
		}

		&__heading{
			color: variables.$white;
		}

		&__calls_to_action {
			display: flex;
			flex-wrap: wrap;
		}

		&__description{
			p{
				font-size: 18px;
				line-height: 21.6px;
			}
		}


		&__side-by-sides{
			display: flex;
			flex-direction: row;
			padding-bottom: 1rem;
			gap: 1.5rem;

			@include media-queries.for-tablet-down{
				flex-direction: column;
			}
		}

		&__sides{
			display: flex;
			flex-direction: column;

		}

		&__small-heading{
			font-weight: 600;
			color: variables.$white;
			font-size:  50px;
			line-height: 60px;
		}


}
