.auth {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .hero {
    height: 100%;
    background-size: cover;
    background-position: center center;

    &.default {
      background-image: url(images/auth-bg.jpg);
    }
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      max-width: 12.5rem;
      height: auto;
    }
    form {
      width: 50%;

      .auth-message {
        padding: 1rem;
        border-radius: .5rem;
      }
    }
  }
}